/* Debugger - This will be unecessary in future updates */
.handsfree-debugger {
  position: fixed !important;
  width: 300px;
  top: 0;
  left: 0;
  opacity: 0.75
}
.handsfree-debugger video {
  width: 100%;
}
.handsfree-debugger canvas {
  width: 100% !important;
  height: auto !important;
  left: 0 !important;
}

button {
  position: fixed;
  top: 0;
  left: 300px;
  font-size: 20px;
  color: #fff;
}

/* Toggle things based on handsfree state */
body.handsfree-stopped .handsfree-show-when-stopped {
  display: inherit;
}
body.handsfree-stopped button.handsfree-show-when-stopped {
  display: inline-block;
  background: var(--green);
}
body.handsfree-stopped .handsfree-show-when-started {
  display: none;
}
body.handsfree-started .handsfree-show-when-stopped {
  display: none;
}
body.handsfree-started .handsfree-show-when-started {
  display: inherit;
}
body.handsfree-started button.handsfree-show-when-started {
  display: inline-block;
  background: var(--pink);
}
